.App {
  background-color: #1c1c1c;
}

.App-logo {
  height: 17vmin;
  pointer-events: none;
  margin: 0;
}

.Help-pages {
  height: 50vmin;

  pointer-events: none;
  margin: 0;
}

.Mini-aang {
  height: 4vmin;
  pointer-events: none;
  margin: 5px;
}

.Midi-aang {
  height: 8vmin;
  pointer-events: none;
  margin: 5px;
}

.Maxi-aang {
  height: 20vmin;
  pointer-events: none;
  margin: 5px;
}

.Landing-page {
  height: 50vmin;
  /* pointer-events: none; */
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  text-align: center;
}

.Lucida {
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  text-align: center;
}

.App-header {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Content {
  background-color: #1c1c1c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start;  */
  justify-content: flex-start;
  align-items: center;
  /* justify-content: flex-start; */
  /* font-size: calc(10px + 1vmin); */
  color: white;
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  font-weight: bold;
}

.Header {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start;  */
  justify-content: flex-start;
  align-items: center;
  /* justify-content: flex-start; */
  /* font-size: calc(10px + 1vmin); */
  color: white;
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  font-weight: bold;
}

.User-logout {
  display: flex;

  flex-direction: column;
  /* align-items: flex-start;
  justify-content: flex-start;  */
  align-content: center;
  padding: 10px;
  background-color: #3e444a;
}

.Sign-up {
  justify-content: flex-end;
}

.Nav-bar {
  background-color: #1c1c1c;
  color: #61dafb;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.h2 {
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  font-weight: bold;
  animation: example2 2s ease-out;
  margin-top: 20px;
  text-align: center;
}

.button {
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.example2 {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  /* width: 100%;
  height: 100%; */
  margin: 0;
  line-height: 50px;
  text-align: left;
  font-size: calc(10px + 1vmin);
  color: white;

  /* Apply animation to this element */
  animation: example2 2s ease-out;
}
/* Move it (define the animation) */
@keyframes example2 {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.card-body {
  font-family: "Lucida Console", "Courier New" /* , monospace */;
  font-weight: bold;
  color: black;
}

.card {
  width: 300px;
  height: 400px;
  display: flex;
  align-items: flex-start;
}

.card-user-info {
  width: 300px;
  height: 700px;
  display: flex;
  align-items: flex-start;
}
